/* Footer css */

.footer_area {
    padding-top: 88px;
    padding-bottom: 45px;
    background-color: #060205;
    @include mmd{
        padding-top: 70px;
    }
    & .footer_top{
        & .footer_logo{
            max-width: 357px;
            @include mmd{
                max-width: 200px;
            }
            @include sm{
                max-width: 200px;
                margin: 0 auto 30px;
            }
        }
    }
    & .footer__middle__content{
        padding:40px 0;
        margin:40px 0;
        color: $_A595A1;
        @include font-18;
        border-top: 1px solid #33182C;
        border-bottom: 1px solid #33182C;
    }
    & .footer__menu{
        text-align: end;
        @include sm{
            text-align: center;
        }
        & li{
            display: inline-block;
            @include transition;
            & a{
                color: $_B6B6B6;
                margin-left: 32px;
                @include font-24;
                font-family: 'MabryPro-Medium';
            }
            &:hover a{
                color: $_white;
            }
        }
    }

    .copytoclipboard {
        text-align: right;
        margin-top: 20px;
        color: $_FFC900;
        display: flex;
        gap: 10px;
        justify-content: end;
        @include sm{
            justify-content: center;
            text-align: center;
        }
        & input{
            padding: 0;
            background: transparent;
            border: 0;
            color: $_FFC900;
            @include font-16;
            max-width: 408px;
            width: 100%;
        }
        & button{
            padding: 0;
            border: 0;
            background: transparent;
            margin-left: 5px;
            margin-top: -10px;
            position: relative;
            & svg{
                transition: all .3s ease-in-out;
                &:hover{
                    opacity: .5;
                }
            }
            & .copyed{
                color: $_FFC900;
                position: absolute;
                top: -12px;
                right: 0;
                font-size: 14px;
            }
        }
    }
    .footer__social{
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-bottom: 16px;
            a{  
                display: inline-block;
                border:2px solid transparent;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                &:hover{
                    border:2px solid $_white;
                }
            }
        
    }
    & .copyright{
        color: $_A595A1;
        @include font-18;

    }
}


/* Footer css */